<p>Hello <%= @resource.email %>!</p>

<% if @resource.last_sign_in_at.present? %>
  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <p><%= link_to 'Change my password', reset_password_url(token: @token) %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
<% else %>
  <p>You have just been invited to the Tower app to collaborate on <%= @resource.task_lists&.first&.name %></p>

  <p>Please install the app here: INSERT LINK TO THE APP STORE</p>

  <p>Then click the link below:</p>

  <p><%= link_to 'Log in to the app', reset_password_url(token: @token) %></p>
<% end %>
